*_generation_script*
*_inst.vhd
*.bak
*.cmp
*.done
*.eqn
*.hex
*.html
*.json
*.jdi
# *.mif
*.pin
*.pof
*.ptf.*
*.qar
*.qarlog
*.qws
*.ini
*.do
*.bak[1-9]
*.bak[10]
*wlf
*.vo
*.sft
*.xrf
*.rpt
*.smsg
*.sof
*.sopc_builder
*.summary
*.tcl
*msim_transcript
*.wlf
#!BMP180_DEBUG.tcl
*.txt
!instruction_memory.txt
*~
*example*
*sopc_*


/db/
/greybox_tmp/
/incremental_db/
/output_files/
rtl_work/
